.contentContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
}
.navProductContainer {
  display: flex;
  flex-direction: row;
}
