body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255);
  background-image: url("https://www.pngitem.com/pimgs/m/231-2317035_ftestickers-background-texture-bricks-wall-blackandwhite-monochrome-hd.png");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
