body {
  margin: 0;
  font-family: "Roboto Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("C:\Users\Lenovo\OneDrive\Desktop\vtorProekt\multi-page-app\src\components\categoriesPhotos\homePage.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.primer {
  position: absolute;
  top: 90%;
  right: 10%;
}
